*.o
*.a
*.ll
*.Po
*.log

Release/
Release+Asserts/
Debug/
Debug+Asserts/

Makefile.config
config.log
config.status

*.pb.h
*.pb.cc


core
vgcore.*

*.dot
*.pdf
*.png
*.eps

*.bc
*.pyc
*.ll
*~

*.o
*.deps/*

klee-out*
klee-last
*.PO
